{% extends 'base.html.twig' %}

{% block title%}{{ 'title.list_diary'|trans }}{% endblock %}

{% block body %}

  {% for diary in diaries %}
    {% if diary.title %}
      <h3>{{ diary.title }}</h3>
      <h5><p>{{ diary.diaryDate|date('Y-m-d') }} {{ diary.weather}}</p></h5>
    {% else %}
      <h3><p>{{ diary.diaryDate|date('Y-m-d') }}</p></h3>
      <h5>{{ diary.weather}}</h5>
    {% endif %}
    <p>Author: {{ diary.author }}</p>
    <p>Content: {{ diary.content }}</p>
    <a href="{{ path('diary_edit', {'id': diary.id}) }}">{{ 'action.edit_diary'|trans }}</a>
  {% else %}
    No diary.
  {% endfor %}

  <p><a href="{{ path('diary_new') }}">{{ 'action.create_diary'|trans }}</a></p>

{% endblock %}

